<div class="container">
  <div class="row">
    <div *ngFor="let p of ListProduct">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="https://zajo.bwcdn.net/media/2022/08/1/8/sk-sven-t-shirt-ss-18136-size-large-v-2.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ p.libelle }}</h5>
            <p class="card-text">Price: {{ p.prixunitaire }} $ -- TVA: {{ p.tauxTva }} -- code: {{p.code}}</p>
            <a class="btn btn-primary" (click)="nbr(p.libelle)">like</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
